
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
  color: white;
}
body {
  margin: 0;
}


/* THEME MODE  */
#dark{
  background-color: black;
  color: white;
}

#light{
  background-color: rgb(127, 125, 125);
  color: rgb(44, 39, 39);
}
/* THEME MODE  */



.line, .circle-bg, .card-bg{
  background-color: rgb(24, 22, 22);
}


